load("@rules_python//python:defs.bzl", "py_library", "py_binary")

py_binary(
    name = "gen_py",
    srcs = ["gen_py.py"],
    visibility = ["//visibility:public"],
    deps = [
        "@maple2jax//jax_xc/libxc",
    ],
)

py_library(
    name = "utils",
    srcs = ["utils.py"],
    deps = ["@maple2jax//jax_xc/impl"],
    visibility = ["//visibility:public"],
)

genrule(
    name = "gen_functionals",
    outs = ["functionals.py", "pointwise_functionals.py"],
    cmd = "$(execpath :gen_py) --output $(execpath :functionals.py) --pointwise_output $(execpath :pointwise_functionals.py) --template $(execpath :python_template.jinja) --pointwise_template $(execpath :python_template_pointwise.jinja)",
    tools = [
        ":gen_py",
        ":python_template.jinja",
        ":python_template_pointwise.jinja"
    ],
)

py_library(
    name = "functionals",
    srcs = ["functionals.py"],
    deps = [
        ":utils",
        "@maple2jax//jax_xc/libxc",
        "@maple2jax//jax_xc/impl",
    ],
    visibility = ["//visibility:public"],
)

py_library(
    name = "pointwise_functionals",
    srcs = ["pointwise_functionals.py"],
    deps = [
        ":utils",
        "@maple2jax//jax_xc/libxc",
        "@maple2jax//jax_xc/impl",
    ],
    visibility = ["//visibility:public"],
)

py_library(
    name = "jax_xc",
    srcs = ["__init__.py"],
    deps = [":functionals", ":pointwise_functionals"],
    visibility = ["//visibility:public"],
)
