build:linux --copt=-g0 --copt=-O3 --copt=-DNDEBUG
build:macos_x86_64 --copt=-g0 --copt=-O3 --copt=-DNDEBUG
build:macos_arm64 --copt=-g0 --copt=-O3 --copt=-DNDEBUG
build:windows_x86_64 -c opt

build:linux --action_env=BAZEL_LINKLIBS=-l%:libstdc++.a:-lm
build:linux --action_env=BAZEL_LINKOPTS=-static-libgcc
build:linux --define os=linux --define cpu=x86_64

build:macos_x86_64 --define os=macos --define cpu=x86_64
build:macos_arm64 --define os=macos --define cpu=arm64

build:windows_x86_64 --define os=windows --define cpu=x86_64
build:windows_arm64 --define os=windows --define cpu=arm64
