build:linux --copt=-g0 --copt=-O3 --copt=-DNDEBUG
build:macos --copt=-g0 --copt=-O3 --copt=-DNDEBUG
build:windows -c opt --compiler=clang-cl
build:linux --action_env=BAZEL_LINKLIBS=-l%:libstdc++.a:-lm
build:linux --action_env=BAZEL_LINKOPTS=-static-libgcc
