load("@pybind11_bazel//:build_defs.bzl", "pybind_extension")
load("@rules_python//python:defs.bzl", "py_library")

py_binary(
    name = "wrap",
    srcs = ["wrap.py"],
    visibility = ["//visibility:public"],
)

genrule(
    name = "gen_xc_version",
    srcs = ["xc_version.h.in"],
    outs = ["xc_version.h"],
    cmd = "cat $< | sed s/@VERSION@/6.0.0/g | sed s/@XC_MAJOR_VERSION@/6/g | sed s/@XC_MINOR_VERSION@/0/g | sed s/@XC_MICRO_VERSION@/0/g > $@",
)

genrule(
    name = "gen_config",
    srcs = [],
    outs = ["config.h"],
    cmd = """echo '#define PACKAGE_VERSION "6.0.0"\n#include <stdio.h>' > $@""",
)

cc_library(
    name = "xc_inc",
    hdrs = [
        "xc_version.h",
        "config.h",
    ] + glob([
        "src/maple2c/**/*.c",
        "src/*.c",
        "src/*.h",
        "*.h",
    ]),
    visibility = ["//visibility:public"],
)

cc_library(
    name = "register",
    hdrs = [
        "src_cc/register.h",
    ],
    deps = [
        ":xc_inc",
        "@visit_struct",
        "@pybind11",
    ],
)

{% for src in c_file_basenames %}
genrule(
    name = "gen_{{ src }}c",
    srcs = ["src/{{ src }}"],
    outs = ["src_cc/{{ src }}c"],
    cmd = "$(execpath :wrap) --path $< --out $@ --template $(execpath :wrap.cc.jinja)",
    tools = [":wrap", ":wrap.cc.jinja"],
)

cc_library(
    name = "{{ src }}c.obj",
    srcs = ["src_cc/{{ src }}c"],
    features = ["windows_export_all_symbols"],
    copts = select({
        "@platforms//os:windows": [],
        "//conditions:default": ["-std=c++14"],
    }),
    deps = [
        ":xc_inc",
        ":register",
    ],
    includes = [
        ".",
        "src",
    ],
    local_defines = [
        "XC_DONT_COMPILE_VXC",
        "XC_DONT_COMPILE_FXC",
        "XC_DONT_COMPILE_KXC",
        "XC_DONT_COMPILE_LXC",
    ],
    alwayslink = True,
)

{% endfor %}

pybind_extension(
    name = "libxc",
    copts = select({
        "@platforms//os:windows": [],
        "//conditions:default": ["-std=c++14"],
    }),
    features = ["windows_export_all_symbols"],
    deps = [
        ":xc_inc",
        "@visit_struct",
        ":register",
{% for basename in c_file_basenames %}
        ":{{ basename }}c.obj",
{% endfor %}
    ],
    srcs = [
        "src_cc/register.cc",
        "src_cc/libxc.cc",
    ],
    visibility = ["//visibility:public"],
)

py_library(
    name = "libxc",
    srcs = glob(
        ["*.py"],
        exclude=["gen_build.py", "wrap.py"],
    ),
    data = [":libxc.so"],
    visibility = ["//visibility:public"],
)
